
body{
    background-color: #AED6F1;
}
#main{
    margin: 0 1%;
}
p,snap,h1,h2,h3{
    font-family: 'Jua', sans-serif;
    margin:2px;
}
canvas{
    margin-left:0 1% ; 
    /* border: 3px black solid; */
    border-radius: 10px;
    /* float: right; */
    margin:0 2%;
}
#HUD{
    border:2px black solid;
    margin:0 20px;
    display:inline-block;
    border-radius: 5px;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}
#score,#life,#coin{
    width: 150px;
    margin:5px;
    padding: 5px 50px;
    font-size: 20px;
    border:1px black solid;
}
.item{
    width: 150px;
    border: 2px black solid;
    border-radius: 20px;
    float: left; 
    padding:0 20px;
    margin:5px;
    background: white;
    text-align: center;
}
div#shop{
    /* float: left; */
    border: 1px black solid;
    display: table-caption;
    float: left;
    margin-left: 20%;
    padding: 5px 0 5px 20px;
    max-width:50%;
    position: absolute;
    top: 80px;
    left:0;
    border-radius: 25px;
    background: whitesmoke;
    z-index: -100;
}
.buy{
    display:block;
    width: 98%;
    text-align: center;
    border: 3px blue solid;
    border-radius: 5px;
    color:blue;
    font-size: 25px;
    font-family: 'Jua', sans-serif;
}
snap {
    display: table-cell;
}
h2.shop{
    font-size: 30px;
    text-align: center;
}
#pause{
    width:50px;
}
img#shop{
    width:50px;
    margin-right: 50px;
}
.item_Img{
    height: 80px;
}